[submodule "thirdpatry/imgui"]
	path = thirdpatry/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdpatry/assimp"]
	path = thirdpatry/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdpatry/meshoptimizer"]
	path = thirdpatry/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "thirdpatry/ImGuizmo"]
	path = thirdpatry/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdpatry/imGuIZMO.quat"]
	path = thirdpatry/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat.git
[submodule "thirdpatry/stb"]
	path = thirdpatry/stb
	url = https://github.com/nothings/stb.git
